.reveal {
  font-family: "Palatino Linotype","Book Antiqua",Palatino,FreeSerif,serif;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    color: #F0FFFF;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}

.outline
{
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}